# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# Node
node_modules/
dist/
.vite/

# Logs
*.log

# Model weights and datasets
models/weights/*.pt
models/weights/*.onnx
data/raw/*
data/interim/*
data/processed/*
data/logs/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/logs/.gitkeep

# Database
data/db/*.db
data/db/*.sqlite3
!data/db/.gitkeep
data/alerts/**
!data/alerts/.gitkeep

# IDE
.idea/
.vscode/
